
/* -------------------------------------------------------------------------- */
/*                                                                            */
/*  About Page                                                                */
/*                                                                            */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
.aboutPageLookingForResume {
  background-color: var(--background-callout-text-color);

  display: block;
  text-align: center;
  padding: 0.75rem 1.0rem;

  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
}

/* -------------------------------------------------------------------------- */
.aboutPageHeaderImage {
  width: 100%;
  height: auto;
  max-height: 400px;
  aspect-ratio: 1.7 / 1;
  object-fit:cover;

  border-radius: var(--border-radius);
  margin-bottom: 0.75rem;
}


/* -------------------------------------------------------------------------- */
.about section h2 {
  display: block;

  margin-bottom: 0.75rem;
  border-bottom: 1px solid var(--horizontal-line-color);

  font-size: var(--about-section-subtitle-size);
  font-weight: var(--about-section-subtitle-weight);
  color: var(--about-section-subtitle-color);
}
