
/* -------------------------------------------------------------------------- */
/*                                                                            */
/*  Contacts Page                                                             */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.contactsItemsContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
}


/* -------------------------------------------------------------------------- */
.contacts ul {
  margin-bottom: 1.5rem;
}

.contacts h2  {
  margin-bottom: 0.5em;
  color:       var(--contacts-section-subtitle-color);
  font-weight: var(--contacts-section-subtitle-weight);
  font-size:   var(--contacts-section-subtitle-size);
}

.contacts li {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  list-style: none;
  margin-bottom: 0.5rem;
}

.contacts li a {
  margin-left: 0.5rem;
}

.contacts svg.svgIcon {
  width: 1.5rem;
  height: 1.5rem;
}
