
/* -------------------------------------------------------------------------- */
/*                                                                            */
/*  Footer                                                                    */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.footer {
  width: 100%;

  text-align: center;
  margin-bottom: 0.5rem;
}

.footer span {
  color: var(--footer-text-color);
  font-size: var(--footer-text-size);
  font-size: 0.8rem;
}