



a {
    color: black;
    font-weight: 600;

}

a:hover {
    color:            var(--background-color);
    background-color: var(--link-color);
}


/*----------------------------------------------------------------------------*/
/*                                                                            */
/* Navigation Bar                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
nav {


    /* background-color: #c83456; */
    /* font-size: 1rem; */
}

/*----------------------------------------------------------------------------*/
nav a {
    display: inline-block;

    padding: 0.5rem 1rem;
    color: var(--link-color);

    text-decoration: none;
    /* background-color: aquamarine; */

    font-family: var(--noto);
    font-weight: 600;
    font-size:   1rem;

}

/*----------------------------------------------------------------------------*/
nav a.logo {
    font-size:   1.2rem;
    font-weight: 700;
}

/*----------------------------------------------------------------------------*/
nav a.button {
    font-family: var(--font-nav-buttons);
}

nav a.button:hover {
    color:            var(--background-color);
    background-color: var(--link-color);
    font-weight:      900;
}

/*----------------------------------------------------------------------------*/
nav a.active {
    text-decoration: underline solid var(--link-color);
    text-underline-offset:     0.5rem;
    text-decoration-thickness:   2px;
}

nav a.active:hover{
    text-decoration: underline solid var(--background-color);
    text-decoration-thickness:   3px;
}

/*----------------------------------------------------------------------------*/
nav a.hamburger {
    font-family: var(--noto);
    font-size:   1.2rem;
    font-weight: 900;
}

nav a.hamburger:hover {
    color:            var(--background-color);
    background-color: var(--link-color);
}



/*----------------------------------------------------------------------------*/
/* Makes the left-most item and right-most item to be aligned without padding */
nav div:first-of-type :first-child {
    /* background-color: red; */
    padding-left: 0;
}

nav div:last-of-type :last-child {
    /* background-color: red; */
    padding-right: 0;
}

/*----------------------------------------------------------------------------*/
/*                                                                            */
/* Footer                                                                     */
/*                                                                            */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.footer {
    /* background-color: #c83456; */
    width: 100%;
    height: 2rem;
    display: block;

    border-top: 1px solid #c7c7c7;

    margin-top:    3rem;
    padding-top:   0.5rem;
    margin-bottom: 0.5rem;
}
/*----------------------------------------------------------------------------*/
.footer-copyright {
    /* background-color: #c83456; */
    display: block;
    width: 100%;
    text-align: center;
}

/*----------------------------------------------------------------------------*/
/*                                                                            */
/* Headers                                                                    */
/*                                                                            */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
h1 {

}

h1 span {              /* The second word that's lighter */

}


/*----------------------------------------------------------------------------*/
h2 {
    font-family: var(--font-section-medium);

    margin-bottom: 1.0rem;
    font-size:     1.3rem;
    font-weight:   600;
}


/*----------------------------------------------------------------------------*/
/*                                                                            */
/* Projects List Card                                                         */
/*                                                                            */
/*----------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------- */
.project-list-card {
    cursor:        pointer;

    background-color: var(--background-color);
    border-radius:    var(--item-border-radius);

    font-size: 1rem;
}

.project-list-card:hover {
    background-color: #ffffff;

    transform: scale(1.010);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* -------------------------------------------------------------------------- */
.project-list-card a {
    text-decoration: none;
    color: black;
}



.project-list-card:hover img {     /* Make the bottom of cards to have no radius */
    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
}


/* -------------------------------------------------------------------------- */
.project-list-card-info {  /* That description under the card */

    padding-top:    0.4rem;
    padding-bottom: 0.6rem;

    padding-left:  0.5rem;
    padding-right: 0.5rem;
    /* background-color: red; */
}

/* -------------------------------------------------------------------------- */
.project-list-card-info-title {
    font-weight: 700;
}

.project-list-card:hover .project-list-card-info-title {
    font-weight: 900;
}

/* -------------------------------------------------------------------------- */
.project-list-card-info-year {
    font-weight: 500;
    /* margin-right: 0.5rem; */
    margin-left: 0.5rem;
}
.project-list-card:hover .project-list-card-info-year {
    font-weight: 600;
}

/* -------------------------------------------------------------------------- */
.project-list-card-info-platform {
    font-weight: 400;
    font-size: 90%;
}
.project-list-card:hover .project-list-card-info-platform {
    font-weight: 600;
}


/*----------------------------------------------------------------------------*/
/*                                                                            */
/* Projects Page                                                              */
/*                                                                            */
/*----------------------------------------------------------------------------*/
.projects ul {
    margin: 0;
    padding: 0 auto;
}



.project-detail-personal-game-img {
    background-color: rgba(0, 0, 0, 0.032);

    /* width:  100%; */
    height:  60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--item-border-radius);
}

/*----------------------------------------------------------------------------*/
.project-details header {
    display: flex;
    margin: 0.75rem 0;
    justify-content: space-between;
    align-items: center;

}

/*----------------------------------------------------------------------------*/
.project-details section {
    padding: 0rem 2rem;
}

/*----------------------------------------------------------------------------*/
.project-details .label-container{
    display: flex;
    gap: 1rem
}


---------------------------------------------------------*/
.project-details svg path {
    fill: black;
}

/*----------------------------------------------------------------------------*/
/* This is the bubbles that represents what i did */
.project-details span {
    background-color: #c83456;
    color: white;
    font-size: 0.9rem;
    padding:     0.5rem;
    border-radius: calc(var(--item-border-radius) * 0.7);
}

.project-details .js {
    background-color: hsl(340, 42%, 34%);
}
.project-details .demolib {
    background-color: hsl(340, 51%, 43%);
}
.project-details .csharp {
    background-color: hsl(251, 23%, 23%);
}
.project-details .monogame {
    background-color: hsl(251, 59%, 49%);
}

/* -------------------------------------------------------------------------- */
/* Resume Page                                                                */
/* -------------------------------------------------------------------------- */
.resume iframe{
    width:  100%;
    height: 100vh;
}

/* -------------------------------------------------------------------------- */
/* About Page                                                                 */
/* -------------------------------------------------------------------------- */
.about .looking-for-resume {
    background-color: #e3e3e3;
    display:     block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    /* margin-left: 2rem; */
    padding: 0.5rem;
}

.about .header-img {
    width: 100%;
    height:388px;
    border-radius: var(--item-border-radius);

    object-fit: cover;
}

.about h2 {
    text-transform: uppercase;
    margin-bottom: 0;
}
.about-section-text {
    margin-top:    0.5rem;
    margin-bottom: 2rem;
}
.about section {
    /* background-color: #c83456; */
}





.iframe-wrapper {
    width: 500px;
    height: 300px;
  }

  .iframe-wrapper iframe {
    width: 100%;
    height: 100%;
  }
