/* -------------------------------------------------------------------------- */
/*                                                                            */
/*  Navigation Bar                                                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
.navBarContainer {
  /* background-color: red;; */
  margin-bottom: 1.5rem;
}

/* -------------------------------------------------------------------------- */
.topNav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-bottom: 1.0rem;
}

/* --- mateus.digital ------------------------------------------------------- */
.topNav .logo {
  font-size: 1.2rem;
  color: var(--nav-bar-logo-color);
}

/* --- The menu links ------------------------------------------------------- */
.topNav a {
  text-decoration: none;
}

/* --- The menu buttons ----------------------------------------------------- */
.topNav button {
  background: none;
  border: none;
  color: var(--nav-bar-hamburger-color);
  text-decoration: none;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/*  Drop Down                                                                 */
/*                                                                            */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
.dropdownMenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100dvh;
  animation: slideDown 0.3s ease forwards;

  background-color: var(--dropdown-background-color);
  z-index: 9999;
}

body.no-scroll {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
.dropdownMenuContainer {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

/* -------------------------------------------------------------------------- */
.dropdownMenuItemsContainer {
  display: flex;
  flex-direction: column;
}

/* -------------------------------------------------------------------------- */
.hamburger {
  font-size: 2rem;
  margin-left: auto;
  color: var(--nav-bar-hamburger-color);
}

/* -------------------------------------------------------------------------- */
.dropdownMenuItemsContainer a {
  text-decoration: none;
  text-transform: uppercase;

  font-weight: var(--dropdown-menu-item-normal-weight);
  color: var(--dropdown-menu-item-normal-color);
  border-bottom: 1px dotted var(--dropdown-border-normal-color);

  padding: 0.75rem 0rem;
}

.dropdownMenuItemsContainer a:hover {
  font-weight: var(--dropdown-menu-item-hovered-weight);
  color: var(--dropdown-menu-item-hovered-color);
  border-bottom-color: var(--dropdown-border-hovered-color);
}

.dropdownMenuItemsContainer a.current {
  font-weight: var(--dropdown-menu-item-current-weight);
  color: var(--dropdown-menu-item-current-color);
  border-bottom: 1px solid var(--dropdown-border-current-color);
}

/* -------------------------------------------------------------------------- */
.dropdownMenuItemsContainer a span {
  font-size: 2rem;
}

/* -------------------------------------------------------------------------- */
.dropdownMenuItemsContainer svg.svgIcon {
  width: 0rem;
  height: 0rem;
}
