/* -------------------------------------------------------------------------- */
.projectItemCard {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.projectItemCard a {}

.projectItemCard img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 180px;
  border-radius: var(--border-radius);
}

.projectItemCard .infoContainer {
  visibility: collapse;

  position: absolute;
  left: 0;
  bottom: 1%;

  display: flex;
  justify-content: space-between;

  width: calc(100% - 0rem);
  color: var(--gray-200);
  background-color: color-mix(in srgb, var(--background-color-dark) 90%, transparent);
  padding: 1rem;
}


.projectItemCard:hover .infoContainer {
  visibility: visible;
}

.projectItemCard .infoContainer .title {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.projectItemCard .infoContainer .rightContainer {
  display: flex;
  gap: 0.5rem;
}

.projectItemCard .infoContainer .rightContainer .platformIcons {
  color: var(--projects-card-desc-text-color);
  display: flex;
  gap: 0.5rem;
}


.projectItemCardPlatformsContainer {
  color: var(--projects-card-desc-text-color);
}