/* -------------------------------------------------------------------------- */
.projectItemCard {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.projectItemCard a {}

.projectItemCard img {
  width: 100%;
  height: auto;
  display: block;

  min-height: unset;
  border-radius: var(--border-radius);
  object-fit: contain;
}

.projectItemCard .infoContainer {
  visibility: collapse;

  position: absolute;
  left: 0;
  bottom: 0%;

  display: flex;
  justify-content: space-between;

  width: calc(100% - 0rem);
  color: var(--gray-200);
  background-color: color-mix(in srgb, var(--background-color-dark) 90%, transparent);
  padding: 1rem;

  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}


.projectItemCard:hover .infoContainer {
  visibility: visible;
}

.projectItemCard .infoContainer .title {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.projectItemCard .infoContainer .rightContainer {
  display: flex;
  gap: 0.5rem;
}

.projectItemCard .infoContainer .rightContainer .platformIcons {
  color: var(--projects-card-desc-text-color);
  display: flex;
  gap: 0.5rem;
}


.projectItemCardPlatformsContainer {
  color: var(--projects-card-desc-text-color);
}