@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-header-1: "Roboto";
    --font-header-2: "Roboto Condensed";
    --font-text:     "Open Sans";

    --size-info-name:        2rem;
    --size-info-position:    1.1rem;
    --size-info-description: 0.8rem;

    --size-resume-section-title: 1.2rem;

    --very-bold: 900;
    --bold:      500;
    --light:     300;

}

* {
    box-sizing: border-box;
    /* outline: #4CAF50 solid 1px; */
}

body {
    max-width: 21cm;
    font-family: var(--font-text);
    background-color: rgb(18, 18, 18);
}

header, main {
    background-color: white;
}

header {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 68% 1fr;
    justify-items: end;

}

/* --------------------------------------------- */
.info_container {
    display: grid;
    align-content: space-between;
}

.info_title {
    display: inline-block;
    font-family: var(--font-header-2);
    font-size:   var(--size-info-name);
    font-weight: var(--very-bold);

    text-transform: uppercase;
}

.info_position {
    display: block;
    font-family: var(--font-header-1);
    font-size:   var(--size-info-position);
    font-weight: var(--bold);

    text-transform: capitalize;
}

.info_description {
    /* background-color: aqua; */
    display: inline-block;

    font-family: var(--font-header-1);
    font-size:   var(--size-info-description);
    font-weight: var(--light);
}


/* --------------------------------------------- */
.contact_item_container {
    display:       grid;
    align-content: center;
}

.contact_item i {
}

.contact_item_text {
    font-family: var(--font-text);
    font-weight: var(--bold);
    font-size:   var(--size-info-description);
}

/* --------------------------------------------- */
.resume_section {
    /* outline: #4CAF50 solid 1px; */
}

.resume_section_title {
    display: inline-block;
    /* background-color: red; */

    font-family: var(--font-header-2);
    font-size:   var(--size-resume-section-title);
    font-weight: var(--very-bold);


    text-transform: uppercase;
}

/* -------------------------------------------------------------------------  */
.exp_container {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

/* -------------------------------------------------------------------------  */
.exp_company_container {
    display:         grid;
    align-items:     start;
    /* align-content:   space-evenly; */
    justify-content: space-between;
}

.exp_company_container img {
    width:        5rem;
    display:      block;
}

.exp_company_title {
    font-family:  var(--font-header-1);
    font-weight:  var(--very-bold);

    display: block;

    text-align:   center;

}

.exp_company_city {
    font-family:  var(--font-header-1);
    font-weight:  var(--light);
    font-size:    var(--size-info-description);

    display: block;

    text-align:   center;
}


.exp_company_titles_container {
    display: grid;
}

.exp_company_position {
    font-family:  var(--font-header-2);
    font-weight:  var(--bold);
    /* font-size:    var(--size-info-description); */


    display: block;

    text-align:   center;
}

.exp_company_duration {
    font-family:  var(--font-header-2);
    font-weight:  var(--light);
    font-size:    var(--size-info-description);


    display:    block;
    text-align: center;
}

/* -------------------------------------------------------------------------  */
.exp_item  {
    /* background-color: red; */
}

.exp_item_title {
    display: block;

    text-transform: uppercase;

    font-family: var(--font-header-1);
    font-weight: var(--very-bold);
    font-size:   var(--size-resume-section-title);

    /* background-color: red; */
}

.exp_item_subtitle {
    font-family: var(--font-header-1);
    font-weight: var(--light);
    font-size:   var(--size-info-description);

    display: block;
    /* background-color: red; */
}

.exp_item_description {
    font-family: var(--font-text);
    font-size:   var(--size-info-description);
}


/* -------------------------------------------------------------------------- */
.skill_item_container {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto auto auto;
}