@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* -------------------------------------------------------------------------- */
:root {
    --font-header-1: "Roboto";
    --font-header-2: "Roboto Condensed";
    --font-text:     "Open Sans";

    --xx-large: 2.50rem;
    --x-large:  2.00rem;
    --large:    1.10rem;
    --medium:   0.85rem;
    --small:    0.75rem;
    --smaller:  0.68rem;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: #4CAF50 solid 1px; */
}
html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
    /* background-color: rgb(18, 18, 18); */
}

header {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 68% 1fr;
    justify-items: end;
    margin: 0rem 0rem 1rem;

}
ul {
    margin-left: 2rem;

}

.content {
    background-color: white;

    max-width: 21cm;
    width:     21cm;

    margin-left:  auto;
    margin-right: auto;

    /* padding:       2rem;
    padding-right: 2rem; */
}

/*
    Info
*/
/* -------------------------------------------------------------------------- */
.info_container {
    display: grid;
    align-content: space-between;

    height: 100%;
    /* background-color: red; */
}

.info_title {
    font-family: var(--font-header-2);
    font-weight: bolder;
    font-size:   var(--xx-large);

    display: block;
    text-transform: uppercase;
}

.info_position {
    font-family: var(--font-header-2);
    font-weight: bold;
    font-size:   var(--large);

    display: block;
    text-transform: capitalize;
}

.info_description {
    /* background-color: aqua; */
    display: inline-block;

    font-family: var(--font-header-1);
    font-size: var(--small);

    margin-top: 0.25rem;
}


/*
    Contact
*/
/* -------------------------------------------------------------------------- */
.contact_container {
    display:       grid;
    align-content: center;

    /* background-color: aqua; */
}

.contact_item i {
}

.contact_item_text {
    font-family: var(--font-header-1);
    /* font-weight: bold; */
    font-size:   var(--small);
}

/*
    Resume Section
*/
/* -------------------------------------------------------------------------- */
.resume_section {
    /* outline: #4CAF50 solid 1px; */
    /* margin-bottom: 0.5rem; */
}

.resume_section_title {
    display: block;
    /* background-color: red; */

    font-family: var(--font-header-2);
    font-weight: bold;
    font-size:   var(--large);

    text-transform: uppercase;
}


/*
    Experience Container
*/
/* -------------------------------------------------------------------------- */
.exp_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* background-color: aquamarine; */

    margin-top:    0.75rem;
    margin-bottom: 0.0rem;
}

/*
    Experience Company Container
        The big company logos on the left.
*/
/* -------------------------------------------------------------------------  */
.exp_company_container * {
}

.exp_company_container {
}

.exp_company_container {

}

.exp_company_logo {
    width:        4rem;
    display:      block;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.exp_company_logo_big {
    width: 6rem;
    display:      block;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

/* ---- */
.exp_company_title {
    display: block;
    text-align: center;

    font-family: var(--font-header-1);
    font-weight: bold;
    font-size:   var(--medium);
}

.exp_company_city {
    display: block;
    text-align: center;

    font-family: var(--font-header-2);
    /* font-weight: bold; */
    font-size:   var(--small);
    margin-bottom: 0.25rem;
}


/* ---- */
.exp_company_titles_container {
    display: grid;
}

.exp_company_position {
    display: block;
    text-align: center;

    font-family: var(--font-header-1);
    font-weight: bold;
    font-size:   var(--small);

    margin-top: 0.5rem;
}

.exp_company_duration {
    display:    block;
    text-align: center;

    font-family: var(--font-header-2);
    font-size:   var(--small);
}

/* -------------------------------------------------------------------------  */
.exp_item  {
    margin-bottom: 0.5rem;
}
.exp_items_container {
}
.exp_item_title {
    display: block;
    text-transform: uppercase;

    font-family: var(--font-header-2);
    font-weight: bold;
    font-size:   var(--large);

    /* background-color: red; */
}

.exp_item_subtitle {
    display: block;

    font-family: var(--font-header-2);
    font-weight: bold;
    font-size:   var(--smaller);

    margin-bottom: 0.5rem;
    /* background-color: red; */
}

.exp_item_description {
    /* background-color: red; */
    font-family: var(--font-text);
    font-weight: normal;
    font-size:   var(--small);
    padding-bottom: 0.25rem;
}

.exp_item_description_title {
    display: block;

    font-family: var(--font-header-2);
    font-weight: bold;
    font-size:   var(--small);
    margin-bottom: 0.25rem;

    text-transform: uppercase;
}

.exp_item_description ul {
    /* background-color: aquamarine; */
    /* list-style-type: none; */
    margin-bottom: 0.25rem;
}
.exp_item_description li {
    /* background-color: aquamarine; */
    list-style: disc; /* Set the bullet point style to a filled circle */
}

.other_experience_container {
    font-family: var(--font-text);
    font-weight: normal;
    font-size:   var(--small);
}

.other_experience_container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.other_experience_container li {
    display: inline;
    /* background-color: red;; */
}
.other_exp_title {
    display: block;
}

/* -------------------------------------------------------------------------- */
.skill_item_container {
    /* background-color: aquamarine; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    font-family: var(--font-text);
    font-weight: normal;
    font-size:   var(--small);

}

.skill_item_container_details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    font-family: var(--font-text);
    font-weight: normal;
    font-size:   var(--small);

}

.skill_item_title {
    display: block;
    /* background-color: red; */

    font-family: var(--font-header-2);
    font-weight: bold;
    font-size:   var(--large);

    text-transform: uppercase;
}

.skill_item_subtitle {
    display: block;
    text-transform: uppercase;

    font-family: var(--font-header-2);
    font-weight: bold;
    font-size:   var(--small);

    text-transform: uppercase;
    margin-left: 1rem;

    /* background-color: red; */
}




.skill_item_language span {

    /* background-color: aqua; */
}


/* -------------------------------------------------------------------------- */
.trophy::after{
    content: "";
    display: inline-block;
    width:  1.1rem;
    height: 1.1rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    background-image: url("https://www.svgrepo.com/show/14797/trophy.svg");
}

.text-detail {
    font-size: 90%;
}

/* ---- */
