
/* -------------------------------------------------------------------------- */
.softwareCard {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  padding: 1rem;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.softwareCard .projectTitle {
  font-size: 1.2rem;
  color: var(--text-accent-color);
  display: block;
}
.softwareCard .projectDescription {
  text-decoration: none;
  color: inherit;
}


.softwareCard .iconContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  max-width: 60px;
  max-height: 60px;
}

.hstack {
  display: flex;
  flex-direction: row;
}

.softwareCard a {}

.softwareCard img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 180px;
  border-radius: var(--border-radius);
}

.softwareCardYTandImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center
}

.softwareCardYTandImgContainer img {
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border-radius);
}


.softwareCardInfoContainer {
  visibility: collapse;

  position: absolute;
  left: 0;
  bottom: 1%;

  display: flex;
  justify-content: space-between;

  width: calc(100% - 0rem);
  color: var(--gray-200);
  background-color: color-mix(in srgb, var(--background-color-dark) 90%, transparent);
  padding: 1rem;
}

.softwareCardTitle {}

/* When hover show the card info  */
.softwareCard:hover .projectCardInfoContainer {
  visibility: visible;
}

.softwareCardRightContainer {
  display: flex;
  gap: 0.5rem;
}

.softwareCardPlatformsContainer {
  color: var(--softwares-card-desc-text-color);
  display: flex;
  gap: 0.5rem;
}

.softwareListCardInfoYear {
  color: var(--softwares-card-desc-text-color);
}