

/* -------------------------------------------------------------------------- */
.topNav {
    display: flex;    
    justify-content: space-between;

    padding-bottom: 1rem;
    border-bottom: #ffffff33 solid 1px;
}

.topNav a { 
    text-decoration: none;
    color: var(--text-color);
}

.topNav a:hover { 
    color: var(--text-color-highlight);
}


.topNavLogoContainer a {
    display: inline-block;
    color: var(--text-color-highlight);
}

.topNavButtonsContainer {
    display: flex;
    gap: 1rem;
}


@media (max-width: 400px) {
    .topNavButtonsContainer {
        background-color: aqua;
        gap: 0.3rem;
    }
}


/* .topNavButtonsContainer > * {
    outline: saddlebrown solid 1px;
} */

.topNavButtonsContainer a { 
    /* background-color: aqua; */
    padding: 0 0.3rem;
}

@media (max-width: 600px) {
    .button span {
        display: none;
    }
}

@media (min-width: 601px) { 
    .button i { 
        display: none;
    }
}


